@{
    ViewData["Title"] = "Okula site";
}

<section id="anaSayfa">
    <div id="carouselExampleCaptions" class="carousel slide carousel_height " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner carousel_height">
            <div class="carousel-item active carousel_height">
                <img src="~/img/30152508_whatsapp-image-2022-11-30-at-15.14.32-2.jpg"class="d-block w-100 h-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">                 
                </div>
            </div>
            <div class="carousel-item carousel_height">
                <img src="~/img/30152507_whatsapp-image-2022-11-30-at-15.14.32-1.jpg"class="d-block w-100  h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item carousel_height">
                <img src="~/img/30152444_whatsapp-image-2022-11-30-at-15.14.33.jpg" class="d-block w-100 h-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>           
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section id="Bolumler" class="container">
    <h2 class="bol display-5 text-danger">Bölümlerimiz</h2>
        <div class="row ">
       <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="~/img/ikiz dingiller.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">İnşaat Teknolojileri Bölümü</h5>
                    <p class="card-text  text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger">Daha Fazla bilgi...</a>
                </div>
            </div>
       </div>
        <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="~/img/elektrik.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">elektirik Bölümü</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger">Daha Fazla bilgi...</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="~/img/bilisim.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">Bilişim Teknolojiler Bölümü</h5>
                    <p class="card-text  text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger">Daha Fazla bilgi...</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="~/img/acordion makine.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">Makina Teknolojiler Bölümü</h5>
                    <p class="card-text  text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger">Daha Fazla bilgi...</a>
                </div>
            </div>
        </div>
        </div>
                        
     
    
</section>
<section id="hakkimizda" class="container">

    <h2 class="bol display-5 text-danger">Biz Kimiz</h2>
    <div class="row mt-4">
        <div class="col-md-4 col-sm-12 ">
            <img src="~/img/steering-g06de73ef2_1920.jpg"class="img-fluid order-2" />
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="d-flex flex-column h-100 justify-content-center">

                <p class="text-white text">
                    Okulumuz Karatay İMKB Teknik ve Endüstri Meslek Lisesi adıyla 2005/2006 Öğretim yılında, İlimiz Meram Teknik ve Endüstri Meslek Lisesi binasında, Endüstri Meslek Lisesi, Bilişim Teknolojileri Alanı'na kaydedilen bir şube öğrenci ile Eğitim ve Öğretime başlamıştır.

                    2006/2007 Öğretim yılından itibaren de aynı yerde, Anadolu Teknik Lisesi bünyesinde Bilişim Teknolojileri Alanı açılmış ve Eğitim-Öğretime başlamıştır.

                    Okulumuz inşaatı tamamlanmaması nedeniyle 2005-2009 arası Meram Teknik ve Endüstri Meslek Lisesi binasında, 2009/2012 yılları arasında da Karatay Ticaret Meslek Lisesi binasında eğitim öğretime devam etmiştir.

                    Okulumuz, 2012 yılından itibaren kendi bina ve atölyelerinde, Endüstri Meslek Lisesi, Anadolu Teknik Lisesi ve Teknik Lise Programlarıyla, Bilişim Teknolojileri, Makine Teknolojileri ve Tesisat Teknolojileri ve İklimlendirme Alanları ile eğitim-öğretime devam etmiştir.  2015 – 2016 Öğretim Yılı itibariyle 40 derslik ek binası da hizmete giren okulumuz büyüme sürecini hızlandırmış ve İnşaat Teknolojileri Alanına da öğrenci almaya başlamıştır. 2016 yılı itibariyle okulumuz Kılıçarslan İMKB Mesleki ve Teknik Anadolu Lisesi adını alarak eğitim-öğretime devam etmektedir.


                </p>
            </div>
        </div>

    </div>
</section>
<section class="container" id="Blog">
    <h3 class="display-5 heading "></h3>
    <div class="accordion mt-4" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bilisim" aria-expanded="false" aria-controls="bilisim">
                    Bilişim Bölümü
                </button>
            </h2>
            <div id="bilisim" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">

                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/2a.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="text-danger">Ağ  Sistemleri</h4>
                                    <p class="card-text">Ağ Sistemleri kullanıcıların, bilgisayar sistemlerinde yer alan donanım ve yazılım kaynaklarını paylaşmalarını sağlayan sisteme network adı verilir. Network temel olarak belirli bir altyapı ile oluşturulur. Altyapı içerisinde bilgisayarların birbirine bağlanmasını sağlayan kablolar, kabinler, paneller, prizler ve kablo kanalları gibi pasif bileşenler yer alır.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/developer2.jpg"class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="text-danger">Yazılım</h4>
                                    <p class="card-text">Yazılım Geliştirme; yazilim sistemlerinin gereklerinin belirlenmesi, tasarlanmasi, kodlanmasi, test vb islemlerinin gerceklestirilmesinde uygulanan cesitli sureclerin tamamına verilen isimdir. Bilgisayar, telefon, tablet, makina gibi üzerinde elektronik devre elemanları olan tüm sistemlerin istenilen işi yapması işi kodlanması işlemine verilen isimdir.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#elektrik" aria-expanded="false" aria-controls="elektrik">
                    Elektrik Bölümü
                </button>
            </h2>
            <div id="elektrik" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/elektirik için foto1.jpg"class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="text-danger">Elektrik Tesisat ve Dağıtımı </h4>
                                    <p class="card-text">Elektrik-Elektronik alanında; bina içi ve dışı elektrik tesisatının ve tüm elektrik panolarının kurulumu ile ilgili işleri kendi başına belirli bir süre içerisinde yapma bilgi ve becerisine sahip nitelikli kişileri yetiştiren daldır.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/elektirik için 2.jpg"class="card-img-top" alt="...">
                                <div class="card-body">mg src="~/img/elektirik için 2.jpg" />
                                    <h4 class="text-danger"> Endüstriyel Bakım Onarım </h4>
                                    <p class="card-text">Elektrik-elektronik alanında, fabrika, atölye vb. işletmelerdeki sistemlerin bakım ve onarımı ile ilgili işleri, kendi başına belirli bir süre içerisinde yapma bilgi ve becerisine sahip nitelikli kişidir.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#makine" aria-expanded="false" aria-controls="makine">
                    Makine bölümü
                </button>
            </h2>
            <div id="makine" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/acordion makine.jpg"class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="text-danger"> Bilgisayarlı Makine İmalatı </h4>
                                    <p class="card-text">Her türlü makine imalatı yapan fabrikalarda, atölyelerde, otomotiv sektöründe, gemi makinelerinde, talaşlı imalatta, makine bakım ve onarımcısı ve montaj elemanı olarak iş bulma imkânlarına sahiptirler. Kendi işletmelerini de kurabilirler.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/makine2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="text-danger"> Makine Bakım Onarım </h4>
                                    <p class="card-text">Makine bakım onarımcısı, tezgahların kurulumunu yapan, tezgahların bakım kataloglarını inceleyerek arıza tespitini yapan, arızalı parçayı onaran ya da yenisi ile değiştiren, tezgah ve makinelerin periyodik bakımlarını yapan nitelikli kişidir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#insaat" aria-expanded="false" aria-controls="insaat">
                    İnşaat Bölümü
                </button>
            </h2>
            <div id="insaat" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/insaat.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="text-danger"> YAPI İŞLETMESİ </h4>
                                    <p class="card-text">Bir inşaat programında inşaatın proje tasarımından gerçekleştirilmesine kadar olan evrelerinde süre, maliyet ve kalite denetimi amacıyla kullanılan profesyonel yönetim (işletmecilik) sürecidir.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card" style="width: 18rem;">
                                <img src="~/img/inşaat2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="text-danger"> Yapı Malzemesi Anabilim </h4>
                                    <p class="card-text">malzeme ve tekniği en iyi şekilde bir araya getiren, yapıların plan, proje, yapım ve denetlenmesiyle uğraşan temel mühendislik dalıdır</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   

<section id="İletisim" class="container">

    <h2 class="display-5 text-danger">İletişim</h2>
    <div class="row">
        <div class="col-md-6  col-sm-12 ">
            <div class="d-flex flex-column h-100 justify-content-center">
                <form class="form">
                    <div class="form-group">
                        <label for="form-ad"><span class="text-white">Ad</span></label>
                        <input type="email" class="form-control" id="form-ad" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <label for="form-email"><span class="text-white">Mail adresinizi giriniz</span></label>
                        <input type="email" class="form-control" id="form-email" placeholder="örn*mail@gmail." />
                    </div>
                    <div class="form-group">
                        <label for="form-subject"><span class="text-white">Telefon numarsı</span></label>
                        <input type="number" class="form-control" id="form-telefon" placeholder="örn*05012345678">
                    </div>
                    <div class="form-group">
                        <label for="form-message"><span class="text-white">Mesajınız veya e-mailiniz</span></label>
                        <textarea class="form-control" id="form-message" placeholder="Mesajınızı buraya yazın"></textarea>
                    </div>
                    <a href="#">
                        <input type="button" class="btn btn-danger" value="Gönder" />
                    </a>
                   
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <iframe class="map border-radius" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.0661804185766!2d32.54207691532008!3d37.858741879744215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d09ace0a29e969%3A0x6a9696ee64f3a25b!2zS8SxbMSxw6dhcnNsYW4gxLBNS0IgTWVzbGVrw64gdmUgVGVrbmlrIEFuYWRvbHUgTGlzZXNp!5e0!3m2!1str!2str!4v1672140661183!5m2!1str!2str" width="500" height="250" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</section>
