@{
    ViewData["Title"] = "Bootstrap ile ilk web site";
}
<sesection id="anaSayfa">
    <div id="carouselExampleCaptions" class="carousel slide carousel_height" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner carousel_height">
            <div class="carousel-item active carousel_height">
                <img src="~/img/img/slayt1.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item carousel_height">
                <img src="~/img/img/slayt2.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item carousel_height">
                <img src="~/img/img/slayt3.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
            <div class="carousel-item carousel_height">
                <img src="~/img/img/slayt4.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</sesection>
<sesection id="hakkimizda" class="container">

    <h2 class="display-5 text-danger">Biz Kimiz</h2>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="d-flex flex-column h-100 justify-content-center">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ' </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="~/img/img/company.jpg" class="img-fluid" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 col-sm-12 ">
            <img src="~/img/img/company2.jpg" class="img-fluid order-2" />
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="d-flex flex-column h-100 justify-content-center">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ' </p>
            </div>
        </div>

    </div>




</sesection>
<sesection id="Blog" class="container">
    <h2 class="display-5 text-danger">blog</h2>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img src="~/img/img/blog1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="lead text-danger">Web tasarım</h5>
                    <h6 class="card-title text-danger">Card title</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <small class="text-muted">
                                <i class="bi bi-clock">
                                    <span class="align-middle">2 gün önce</span>
                                </i>
                            </small>
                        </li>
                        <li class="list-inline-item">
                            <small class="text-muted">
                                <i class="bi bi-chat-left-text">
                                    <span class="align-middle">10</span>
                                </i>
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img src="~/img/img/blog2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="lead text-danger">Web tasarım</h5>
                    <h6 class="card-title text-danger">Card title</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <small class="text-muted">
                                <i class="bi bi-clock">
                                    <span class="align-middle">2 gün önce</span>
                                </i>
                            </small>
                        </li>
                        <li class="list-inline-item">
                            <small class="text-muted">
                                <i class="bi bi-chat-left-text">
                                    <span class="align-middle">10</span>
                                </i>
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <img src="~/img/img/blog3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="lead text-danger">Web tasarım</h5>
                    <h6 class="card-title text-danger">Card title</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <small class="text-muted">
                                <i class="bi bi-clock">
                                    <span class="align-middle">2 gün önce</span>
                                </i>
                            </small>
                        </li>
                        <li class="list-inline-item">
                            <small class="text-muted">
                                <i class="bi bi-chat-left-text">
                                    <span class="align-middle">10</span>
                                </i>
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</sesection>
<section id="emailkayit" class="mail_ container">
    <div class="row mt-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control rounded-0 border-danger text-danger " placeholder="E mailinizi giriniz">
            <button class="btn btn-danger rounded-0" type="submit" id="button-addon2">Gönder</button>
        </div>
    </div>

</section>
<section id="urunler" class="container">
    <h2 class="display-5 text-danger">Ürünler</h2>
    <div class="row mt-5 ">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <img src="~/img/img/design.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bilisim1" aria-expanded="false" aria-controls="collapseOne">
                                    Accordion Item #1
                                </button>
                            </h2>
                            <div id="bilisim1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bilisim2" aria-expanded="false" aria-controls="collapseTwo">
                                    Accordion Item #2
                                </button>
                            </h2>
                            <div id="bilisim2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bilisim3" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="bilisim3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <img src="~/img/img/design1.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Accordion Item #1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Accordion Item #2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section id="iletisim" class="container _mail">
    <h2 class="display-5 text-danger">Ürünler</h2>
    <div class="col-md-6 col-sm-12">
        <form class="row">
            <div>
                 
            </div>
        </form>
    </div>
</section>